* {
    box-sizing: border-box;
    font-family: Verdana;
    text-align: center;
}

.container {
    overflow: auto;
}

p {
    text-align: left;
}

.sub-heading {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f5e5e6;
    padding: 1px 15px 1px 15px;
    border-style: solid ;
    border-right: 0 ;
    border-top: 0 ;

}


.left {
    position: relative;
    background-color: #a5e5e6;
    float: left;
    width: 30%;
    padding: 15px;

    text-align: center;
    border-style: solid;
}


.main {
    position: relative;
    background-color: #c5e5e5;
    float: left;
    width: 30%;
    padding: 15px;

    text-align: center;
    border-style: solid;

}

.right {
    position: relative;
    background-color: #d5e5e5;
    float: left;
    width: 30%;
    padding: 15px;
    text-align: center;
    border-style: solid;
}

@media only screen and (min-width: 991px) {

    /* For mobile phones: */
    .container {
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 767px) {

    /* For mobile phones: */
    .left,
    .main,
    .right {
        width: 100% !important;
        margin: 7px !important;
    }
}

@media only screen and (max-width: 991px) {

    /* For Tablet : */
    .left,
    .main {
        width: 48%;
        margin: 7px !important;
    }

    .right {
        width: 98%;
        margin: 7px !important;
    }
}